@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Playfair+Display:wght@400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
/* font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */
/* font-family: Roboto, Helvetica, Arial, sans-serif; */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#newnav{
    width: 100%;
    justify-content: space-between;
    min-height: 5vh;
    padding: 10px 40px;
    position: fixed;
    background-color: white;
    z-index: 1000;
}
#newnav img{
    height: 40px;
}
#newnav .space{
    display: flex;
}
#newnav .links a{
    color: #514949;
    font-size: 20px;
    margin-right: 50px;
}
#newnav .enrol{
    width: 235px;
}
#newnav .img-bg{
    background-color: #E7332B;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}
#newnav .img-bg img{
    height: 50px;
}
#newnav a button{
    position: absolute;
    right: 60px;
    color: white;
    background-color:#E7332B;
    border: transparent;
    width: 150px;
    height: 48px;
    font-size: 19px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
/* first section for new.html */
#new-first{
    min-height: 120vh;
}
#new-first .left{
    position: relative;
}
#new-first .ltop{
    height: 330px;
    position: absolute;
    left: 80px;
    bottom: 80px;
}
#new-first .rmage{
    position: absolute;
    height: 390px;
    right: 70px;
    bottom: 40px;
}
#new-first .mid .ldown{
    position: absolute;
    height: 60px;
    bottom: 110px;
    left: -120px;
}
#new-first .mid {
    position: relative;
    margin-top: 110px;
    width: 50%;
    z-index: 100;
}
#new-first .mid span{
    color: #E7332B;
    font-size: 20px;
    margin-bottom: 8px;
}
#new-first .mid h1{
    color: #1b1a20;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    width: 92%;
    letter-spacing: .6px;
}
#new-first .mid img{
    height: 17px;
    margin-left: 200px;
    margin-bottom: 20px;
}
#new-first .mid h2{
    text-align: center;
    font-size: 19px;
    width: 60%;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 30px;
}
#new-first .mid button{
    background-color: #E7332B;
    color: white;
    width: 155px;
    height: 45px;
    border: transparent;
    border-radius: 35px;
    font-size: 20px;
}
#new-first .mid .bot{
    height: 120px;
    /* margin-right: 300px; */
}

#new-two{
    min-height: 40vh;
    padding: 0 70px;    
}
#new-two hr{
    height: 1px;
    width: 1200px;
}
#new-two .content h1{
    font-size: 25px;
    font-weight: 500;
    width: 33%;
    line-height: 35px;
}
#new-two .content img{
    height: 200px;
}
#new-two .content h2{
    font-size: 25px;
    font-weight: 400;
    text-align: right;
    width: 30%;
}
#new-two .content a{
    color: #43b97f;
}
#new-third{
    min-height: 60vh;
}
#new-third .left{
    padding-left: 80px;
    width: 65%;
}
#new-third .left img{
    height: 85px;
}
#new-third .left span{
    color: #E7332B;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
#new-third .left h1{
    font-size: 40px;
    font-weight: 650;
    width: 80%;
}
#new-third .right{
    width: 35%;
    height: 45vh;
    display: flex;
    align-items: flex-end;
}
#new-third .right img{
    height: 200px;
}
#new-fourth{
    min-height: 130vh;
    width: 100%;
    background: linear-gradient(180deg,rgba(255,244,240,0),#fff4f0 17.19%,#fff4f0 84.37%,rgba(255,244,240,0));
    display: flex;
    flex-wrap: wrap;
}
#new-fourth .allbox{
    height: 430px;
    width: 28%;
    margin: 10px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    transition: transform 250ms ease-in-out;;
}
#new-fourth .allbox:hover{
    transform: translateY(-15px);
}
#new-fourth .one{
    background-color: #E7332B;
    color: white;
}
#new-fourth img{
    position: absolute;
    height: 120px;
    top: 0;
    right: 0;
}
#new-fourth h1{
    font-size: 60px;
    font-weight: 700;
}
#new-fourth h2{
    font-size: 36px;
    font: 500;
    color: #1b1a20;
    width: 70%;
    line-height: 130%;
    padding: 36px 0;
}
#new-fourth h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: #1b1a20;
    font-family: Graphik;
}
#new-fifth{
    background-color: #E7332B;
    color: #fff;
    min-height: 125vh;
    margin-top: 100px;
    display: flex;
    align-items: center;
    position: relative;
}
#new-fifth .wire{
    position: absolute;
    height: 65px;
    top: 60px;
    left: 355px;
}
#new-fifth .left{
    width: 45%;
    height: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    position: relative;
}
#new-fifth h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 35px;
    width: 90%;
    line-height: 52px;
}
#new-fifth p{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    width: 65%;
    /* font-family: Graphik! important; */
    margin-bottom: 5px;
}
#new-fifth button{
    margin: 30px 0;
    background-color: #fff;
    color: #E7332B;
    letter-spacing: 1px;
    font-size: 19px;
    border: none;
    outline: none;
    border-radius: 50px;
    height: 40px;
    width: 155px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}
#new-fifth button:hover{
    box-shadow: rgb(0 0 0 / 20%) 1px 4px 2px -1px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 2px 6px 0px;
    transition: 250ms ease-in-out;
}
#new-fifth .notouch{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
#new-fifth .notouch span{
    border: 2px solid #fff;
    height: 80px;
    width: 230px;
    border-radius: 50px;
    margin: 0 20px 20px 0;
    padding: 0 15px;
    font-size: 20px;
}
#new-fifth .notouch span img{
    height: 50px;
    margin-right: 10px;
}
#new-fifth .notouch span:hover{
    cursor: not-allowed;
}
#new-fifth .left .dots{
    height: 90px;
    position: absolute;
    left: 40px;
    bottom: 20px;
}
#new-fifth .right{
    width: 55%;
    height: 110vh;
}
#new-fifth .right img{
    height: 590px;
}
/* END OF NEW.HTML */