@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Playfair+Display:wght@400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
/* font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#one{
    min-height: 120vh;
    background-image: url(../img/hero-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#one img{
    height: 20px;
    margin: 70px 0 90px 0;
}
#one h1{
    color: #514949;
    font-size: 35px;
    margin-bottom: 36px;
    line-height: 48px;
    text-align: center;
    font-weight: 600;
}
#one h2{
    color: #514949;
    font-size: 17px;
    text-align: center;
    width: 53%;
    line-height: 26px;
    opacity: 0.9;
    margin-bottom: 85px;
}
#one h2 span{
    color: #E7332B; 
}
#one .bottom a {
    text-decoration: none;
    margin: 0 12px;
}
#one .bottom a button{
    padding: 11px 28px;
    border: 1px solid #E7332B;
    font-size: 16px;
    font-weight: 600;
}
#one .bottom .left button{
    color: white;
    background-color: #E7332B;
}
#one .bottom .left button:hover{
    color: #E7332B;
    background-color: white;
}
#one .bottom .right button{
    color: #E7332B;
    background-color: white;
}
#one .bottom .right button:hover{
    color: white;
    background-color: #E7332B;
}
#two{
    min-height: 130vh;
}
#two .top{
    width: 100%;
}
#two span{
    font-size: 16px;
    line-height: 24px;
    color: #E7332B;
    margin-top: 130px;
}
#two h1{
    font-size: 27px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #514949;
    margin-top: 8px;
    margin-bottom: 80px;
    width: 31.4%;
}
#two .bottom div{
    background-color: #FFFAFA;
    padding: 70px 30px 60px 20px;
    margin: 0 12px;
    height: 520px;
    width: 380px;
}
#two .bottom img{
    height: 90px;
}
#two h2{
    font-size: 17px;
    width: 100%;
    line-height: 26px;
    color: #514949;
    opacity: 0.9;
    margin: 40px 0 30px 0;
}
#two a{
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #E7332B;
    opacity: 0.9;
}
#three{
    min-height: 50vh;
    justify-content: flex-end;
}
#three .top{
    width: 88%;
    display: flex;
    justify-content: space-between;
}
#three .a img{
    height: 20px;
}
#three h1{
    font-size: 19px;
    color: #514949;
    margin-bottom: 10px;
}
#three h2{
    font-size: 15px;
    font-weight: normal;
    width: 80%;
    line-height: 23px;
    color: #514949;
}
#three a{
    text-decoration: none;
    line-height: 40px;
    font-weight: 500;
    font-size: 15px;
    color: #E7332B;
}
#three a:hover{
    color: #e7342bbe;
}
#three hr{
    height: 2px;
    width: 89%;
    background-color: #514949;
    margin: 80px 0 30px 0;
}
#three .icons{
    width: 170px;
}
#three .icons img{
    height: 20px;
    margin-right: 6px;
}
footer{
    min-height: 20vh;
}
footer h1{
    font-size: 17px;
    font-weight: 600;
    color: #514949;
}
/* TABLET SIZE */
@media (max-width: 768px){
    #one{
        min-height: 110vh;
    }
    #one img{
        margin: 130px 0 80px 0;
    }
    #one h1{
        font-size: 30px;
        margin-bottom: 30px;
    }
    #one h2{
        font-size: 16px;
        width: 90%;
        line-height: 25px;
        margin-bottom: 75px;
    }
    #one .bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #one .bottom a {
        margin: 10px 0;
    }
    #two h1{
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 70px;
    width: 51%;
    }
    #two .bottom{
        flex-direction: column;
    }
    #two .bottom div{
        width: 580px;
        height: 350px;
        margin: 10px 0;
    }
    #two .bottom img{
        height: 70px;
    }
    #two h2{
        font-size: 16px;
        margin: 30px 0 20px 0;
    }
    #two a{
        font-size: 16px;
    }
    #three{
        min-height: 50vh;
    }
    #three .top .a, #three .top .b, #three .top .c, #three .top .d{
        width: 150px;
    }
    #three .top .a img{
        height: 15px;
    }
    #three h1{
        font-size: 16px;
    }
    #three h2{
        font-size: 15px;
        width: 90%;
        line-height: 23px;
    }
    #three a{
        line-height: 25px;
    }
    #three hr{
        width: 600px;
    }
    #three .top .d{
        padding-left: 80px;
    }
    #three .icons{
        width: 120px;
    }
    #three .icons img{
        height: 16px;
        margin-right: 4px;
    }
    footer{
        min-height: 15vh;
    }
    footer h1{
        padding-top: 5px;
    }
}
/* END OF TABLET SIZE */
/* 600PIXELS */
@media (max-width: 600px){
    #one img{
        margin: 110px 0 60px 0;
    }
    #one h1{
        font-size: 28px;
    }
    #one h2{
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 60px;
    }
    #one .bottom a button{
        padding: 10px 23px;
        font-size: 16px;
    }
    #two h1{
        font-size: 23px;
        line-height: 32px;
        margin-bottom: 50px;
        width: 61%;
    }
    #two .bottom div{
        width: 500px;
    }
    #two .bottom img{
        height: 60px;
    }
    #two h2, #two a{
        font-size: 15px;
    }
    #three{
        min-height: 40vh;
    }
    #three .top .a, #three .top .b, #three .top .c, #three .top .d{
        width: 130px;
    }
    #three .top .a img{
        height: 12px;
    }
    #three h1{
        font-size: 14px;
    }
    #three h2{
        font-size: 13px;
        width: 90%;
        line-height: 20px;
    }
    #three a{
        line-height: 23px;
    }
    #three hr{
        width: 450px;
    }
    #three .top .d{
        padding-left: 30px;
    }
    #three .icons img{
        height: 15px;
        margin-right: 3px;
    }
}
/* END OF 600 PIXELS */
/* 400 PIXELS */
@media (max-width:425px){
    #two h1{
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 40px;
        width: 80%;
    }
    #two .bottom div{
        width: 320px;
        height: 320px;
        padding: 40px 20px 50px 15px;
    }
    #two .bottom img{
        height: 50px;
    }
    #two h2{
        margin: 20px 0 10px 0;
    }
    #two h2, #two a{
        font-size: 14px;
        line-height: 20px;
    }
    #three{
        min-height: 40vh;
    }
    #three .top .a, #three .top .b, #three .top .c, #three .top .d{
        width: 70px;
    }
    #three .top .a img{
        height: 10px;
    }
    #three h1{
        font-size: 13px;
    }
    #three h2{
        font-size: 12px;
        line-height: 20px;
    }
    #three a{
        line-height: 20px;
        font-size: 13px;
    }
    #three hr{
        width: 300px;
    }
    #three .top .d{
        padding-left: 20px;
    }
    #three .icons{
        width: 100px;
    }
    #three .icons img{
        height: 14px;
        margin-right: 1px;
    }
    footer{
        min-height: 10vh;
    }
    footer h1{
        font-size: 14px;
    }
}   
/* END OF 400 PIXELS */
/* END OF INDEX.HTML */






/* NEED.HTML */
#need-nav{
    min-height: 10vh;
    padding: 0 100px;
    background-color: white;
    position: fixed;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
#need-nav .links a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    height: 8vh;
    /* font-family: Graphik!important; */
}
#need-nav .links .bottom{
    border-bottom: 3px solid #E7332B;
}
#need-nav .links a:hover{
    background-color: rgba(25, 118, 210, 0.05);
}
#need-nav .button a{
    width: 150px;
}
#need-nav a button{
    background-color: #E7332B;
    border: transparent;
    color: white;
    width: 150px;
    height: 40px;
    border-bottom-right-radius: 10px;
}
/* need-one section */
#need-one{
    min-height: 90vh;
    align-items:flex-end;
    margin-bottom: 50px;
    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
}
#need-one .left{
    width: 60%;
    height: 50vh;
    padding-left: 110px;
}
#need-one .left h1{
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 30px;
}
#need-one .left span{
    color: #E7332B;
}
#need-one .left img{
    height: 35px;
    width: 200px;
    position: absolute;
    left: 490px;
    top: 305px;
}
#need-one .left h2{
    color: #787878;
    font-size: 19px;
    width: 74%;
    line-height: 26px;
    margin-bottom: 30px;
    font-weight: 450;
}
#need-one .left button{
    color: white;
    height: 42px;
    width: 220px;
    border-bottom-right-radius: 10px;
    margin-right: 15px;
    border: transparent;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, 
    rgb(0 0 0 / 14%) 0px 2px 2px 0px,
     rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}
#need-one .left .leftt{
    background-color: #E7332B;
}
#need-one .left .rightt{
    background-color: #585858;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}
#need-one .abs{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    height: 50vh;
}
#need-one .abs img{
    height: 80px;
}
#need-one .right{
    position: absolute;
    left: 850px;
}
#need-one .right img{
    height: 450px;
    width: 450px;
}
/* need-two */
#need-two{
    min-height: 60vh;
    background-image: url(../img/bgsection2.063bd869082548bafa74.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
}
#need-two .left{
    width: 60%;
    margin-left: 100px;
}
#need-two .left h1{
    width: 80%;
    line-height: 48px;
    margin-bottom: 20px;
}
#need-two span{
    color: #E7332B;
}
#need-two h2{
    font-size: 19px;
    margin-bottom: 12px;
}
#need-two h3{
    color: #787878;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}
#need-two .left .country .bg-count{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 70px;
    height: 55px;
    margin-right: 12px;
    border-radius: 6px;
}
#need-two .left .country .bg-count img{
    height: 40px;
}
#need-two .right{
    width: 40%;
}
/* Need-three section */
#need-three{
    min-height: 80vh;
    background-color: white;
    padding: 0 100px;
    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
}
#need-three h1{
    margin-bottom: 40px;
    width: 40%;
}
#need-three span{
    color: #E7332B;
}
#need-three img{
    position: absolute;
    right: 0;
    top: 1205px;
    height: 140px;
}
#need-three .need-talents button{
    color:#787878;
    background-color: white;
    box-shadow: 0 10px 30px hsla(0,0%,48%,.16);
    border-radius: 8px;
    font-size: 18px;
    padding: 5px;
    width: 225px;
    height: 60px;
    border: transparent;
    margin-right: 20px;
    margin-bottom: 40px;
    font-weight: 500;
}
#need-three .work-talents button{
    color:#787878;
    background-color: white;
    box-shadow: 0 10px 30px hsla(0,0%,48%,.16);
    border-radius: 8px;
    font-size: 18px;
    padding: 5px 25px;
    height: 60px;
    border: transparent;
    margin-right: 12px;
    font-weight: 500;
}
/* need-four */
#need-four{
    min-height: 120vh;
    
}
/* END OF NEED.HTML */
/*  font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 32px;
    color: #514949; */

    /* for footer font-family: Averta, sans-serif;     font-family: Graphik!important; */
    /* background-color: rgb(231, 51, 43); 
    background: rgb(255, 253, 245)
    */
    /* colors
    box-shadow: 0 31px 60px rgba(231,51,43,.2)
    #333
    #1b1a20 black grey
    #E7332B; orange
    #514949; ash
    #212529; black
    #43b97f; green
        z-index: 1;
    */